-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    - if params[:ratings] and params[:ratings].has_key?(rating)
      = check_box_tag "ratings[#{rating}]", '1', true, { :id => "ratings_#{rating}" }
    - else
      = check_box_tag "ratings[#{rating}]", '1', false,{ :id => "ratings_#{rating}" }
  = submit_tag 'Refresh', :id => 'ratings_submit'

%table#movies
  %thead
    %tr
      - if params[:ratings] == nil
        - params[:ratings] = Hash.new 
      - if params[:sort_by] == "title"
        %th.hilite{:id => 'title_header'}= link_to "Movie Title", movies_path(:sort_by => 'title', :ratings => params['ratings'])
      - else
        %th{:id => 'title_header'}= link_to "Movie Title", movies_path(:sort_by => 'title', :ratings => params['ratings'])
      %th Rating
      - if params[:sort_by] == "date"
        %th.hilite{:id => 'release_date_header'}= link_to "Release Date", 
                                movies_path(:sort_by => 'date', :ratings => params['ratings'])
      - else
        %th{:id => 'release_date_header'}= link_to "Release Date", 
                                movies_path(:sort_by => 'date', :ratings => params['ratings'])
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
